@()

@main("Big Spatial Visualization") {
  <div xmlns="http://www.w3.org/1999/html" ng-controller="AppCtrl">
    <div id="deck-gl-canvas" class="map-group">
      <map lat="39.5" lng="-96.35" zoom="4"></map>
    </div>

    <search-bar></search-bar>

    <div class="stats" ng-controller="CountCtrl">
      {{resultCount}}
    </div>

    <div id="console" class="sticky" ng-controller="console">
      <terminal> </terminal>
    </div>
    <script>
      $(document).ready(function(){
        $("#console").hide();
      });

      // create console button
      let consoleButton = document.createElement("button");
      consoleButton.className = "float";
      consoleButton.id = "console-btn";
      consoleButton.innerHTML = "Terminal";
      consoleButton.style.bottom = "20px";
      consoleButton.style.right = "20px";
      document.body.appendChild(consoleButton);
      consoleButton.addEventListener("click", function(){
        $("#console").slideToggle();
      });

    </script>
  </div>
}
